#yt {
    color:aliceblue;
    text-decoration: underline;
    transition-duration: 200ms;
}

#yt:hover {
    transform: scale(1.03);
    color:red;
    transition-duration: 300ms;
}



#tiktok {
    color:aliceblue;
    text-decoration: underline;
    transition-duration: 200ms;
}

#tiktok:hover {
    transform: scale(1.05);
    color:cyan;
    transition-duration: 300ms;
}

#insta {
    color:aliceblue;
    text-decoration: underline;
    transition-duration: 200ms;
}

#insta:hover {
    transform: scale(1.03);
    color:magenta;
    transition-duration: 300ms;
}



@media (max-width: 768px) {
    #yt {
        animation: fadeColorRed 2s infinite;
        animation-delay: .3s;
    }



    #tiktok {
        animation: fadeColorBlue 2s infinite;
        animation-delay: .6s;
    }

    #tiktok:nth-child(2){
        animation-delay: 500ms;
    }

    #insta {
        animation: fadeColorPurple 2s infinite;
    }
    
}







@keyframes fadeColorRed {
        0% { color: aliceblue; }
        50% { color: red; }
        100% { color: aliceblue; }
        
    }

@keyframes fadeColorBlue {
        0% { color: aliceblue; }
        50% { color: cyan; }
        100% { color: aliceblue; }
        
    }

@keyframes fadeColorPurple {
        0% { color: aliceblue; }
        50% { color: magenta; }
        100% { color: aliceblue; }
        
    }