html, body {
    height: 100%;
    margin: 0;
    padding: 0.3rem;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    

    background: 
            radial-gradient(circle at 20% 30%, rgba(1, 73, 57, 0.4), transparent 60%),
            radial-gradient(circle at 80% 20%, rgba(2, 56, 95, 0.4), transparent 60%),
            radial-gradient(circle at 50% 80%, rgba(85, 1, 67, 0.4), transparent 60%),
              #111; /* fallback dark bg */
  background-blend-mode: screen; /* colors mix nicely */
}


body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
background: repeating-linear-gradient(
    135deg,          /* angle */
    rgba(0,0,0,0.4) 0px,
    rgba(0,0,0,0.4) 1px,
    transparent 2px,
    transparent 6px
    );
    pointer-events: none; /* don't block clicks */
    z-index: -1;
}

.allText {
    color: aliceblue;
    font-family: "Rubik Pixels", system-ui;
    font-style: normal;
    margin: 0;
    /* text-align: left; */
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.2rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #content {
        text-align: center;
    }

    #t_whoops {
        font-size: clamp(2rem, 4.5vw, 4rem);
        text-align: center;
    }

    #logo {
        transform: scale(1.5);
        margin-bottom: 1rem;
    }
}







.text {
    margin: 0;
    /* text-align: left; */
}

#t_whoops {
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 700;
    transition-duration: 200ms;
}


#content {
    font-size: clamp(1rem, 1.8vw, 1.5rem);
    font-weight: 400;
    max-width: 40ch;
    line-height: 1.6;
    
}



#logo {
    width: clamp(80px, 15vw, 200px);
    height: auto;
}
#logo:hover{
    cursor:default;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        transform: scale(1.5);
        margin-bottom: 1rem;
    }
}
