.off-screen-menu {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    z-index: 5;
}


.nav {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 9vh;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    padding: none;
}

#navBar a {
    display: flex;
    color: white;
    justify-content: space-between;
    font-family: "Rubik Pixels", system-ui;
    font-style: normal;
    margin: 0;
    line-height: 1.6;
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(0.9rem, 1.6vw, 1.4rem);
}
.ham-menu {
    display: none;
}





@media (max-width: 768px) {

#navBar a {
    display: none;
}

.off-screen-menu a {
    text-decoration: underline;
    color: aliceblue;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.off-screen-menu {
    background-color: black;
    opacity: 0.95;
    height: 100vh;
    width: 75vw;
    position: fixed;
    top: 0;
    left: -75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;
    gap: 10vh;
}

.off-screen-menu.active {
    left: 0;
}

.nav {
    margin: auto;
    width: 100vw;
    height: 9vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    z-index: 1000;
    justify-content: center;
    min-height: 50px;
    max-height: 65px;
}

.ham-menu {
    display: flex;
    max-height: 40px;
    max-width: 32px;
    min-height: 30px;
    min-width: 24px;
    height: 6vh;
    width: 4.8vh;
    margin-right: auto;
    position: relative;
}

.ham-menu span {
    display: flex;
    height: 0.5vh;
    min-height: 3px;
    max-height: 4px;
    width: 100%;
    background-color: aliceblue;
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}


.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

/* ANIMATION */
.ham-menu.active span {
    background-image: linear-gradient(to right, purple, hotpink, orange);
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-menu a:nth-child(1){ 
    text-decoration-color: orange;
}

.off-screen-menu a:nth-child(2){ 
    text-decoration-color: magenta;
}

.off-screen-menu a:nth-child(3){ 
    text-decoration-color: darkcyan;
}

}