#yt {
    color:aliceblue;
    text-decoration: none;
    transition-duration: 200ms;
}

#yt:hover {
    transform: scale(1.03);
    color:red;
    transition-duration: 300ms;
}

#tiktok {
    color:aliceblue;
    text-decoration: none;
    transition-duration: 200ms;
}

#tiktok:hover {
    transform: scale(1.05);
    color:cyan;
    transition-duration: 300ms;
}

#insta {
    color:aliceblue;
    text-decoration: none;
    transition-duration: 200ms;
}

#insta:hover {
    transform: scale(1.03);
    color:magenta;
    transition-duration: 300ms;
}